@import "tailwindcss";

@plugin "tailwindcss/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0284c7;
}
::selection {
  background: #0ea5e9;
  color: white;
}
